html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
}

@font-face {
    font-family: 'Lato';
    src: url('https://fonts.googleapis.com/css?family=Lato');
}

body {
    background-image: url(Image/bgImage.jpg);
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #fff;
}

header nav ul {
    justify-content: center;
    align-items: center;
    padding: 5vh 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    padding: 1vh 3vw;
    font-family: 'lato';
    font-size: 3em;
    color: #fff;
    text-decoration: none;
}

.two:hover ~ hr {
    margin-left: 31%;
}

.three:hover ~ hr {
    margin-left: 64%;
}

hr {
    height: .25rem;
    width: 32%;
    margin: 2vh 0;
    background: #fff;
    border: none;
    transition: .3s ease-in-out;
}

header div {
    width: 50%;
    margin-top: 25vh;
    font-family: 'Lato';
    text-align: left;
    color: #fff;
}

header h1 {
    font-size: 6rem;
    font-weight: 700;
    padding: 2vh 0;
}

header h2 {
    font-family: 'Source Sans Pro';
    font-size: 2rem;
}

main section {
    padding: 12vh 0;
}

main .TLDR {
    background-color: #fff;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .Skills {
    padding: 10vh 15vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-column-gap: 5vw;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 1fr 1fr;
}

main .Skills div {
    padding: 4vh 2vw;
}

main section h2 {
    text-align: center;
    font-size: 2.3rem;
    font-family: 'Lato';
    font-weight: 700;
    padding-bottom: 2vh;
}

main .Skills h2 {
    position: relative;
    margin-bottom: 4vh;
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    grid-column-start: 1;
    grid-column-end: 4;
}

main .Skills h2:before {
    content: "";
    position: absolute;
    left: 42.5%;
    bottom: 0;
    height: 2px;
    width: 15%;
    border-bottom: 1px solid #fff;
}

main .Skills h3 {
    color: #fff;
    font-size: 2rem;
    font-family: 'Lato';
    font-weight: 700;
    padding-bottom: 2vh;
}

main section p {
    font-size: 1.8rem;
    font-family: 'Source Sans Pro'
}

main .TLDR p {
    width: 50%;
}

main .Skills p {
    color: #fff;
}

footer {
    padding: 0 30vw;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

footer h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 1.2rem;
    padding-top: 6vh;
    padding-bottom: 4vh;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    border-left: 2px solid #000;
}

footer div:first-of-type {
    border-left: none;
}

footer div img {
    width: 5vw;
}
