html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
}

@font-face {
    font-family: 'Lato';
    src: url('https://fonts.googleapis.com/css?family=Lato');
}

header {
    background-image: url(Image/bgImage.jpg);
    background-position: top;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header nav {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #fff;
    -webkit-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.3);
}

header nav ul {
    justify-content: center;
    align-items: center;
    padding: 3vh 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    padding: 1vh 2vw;
    font-family: 'lato';
    font-size: 2em;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

.two:hover ~ hr {
    margin-left: 31%;
    border-radius: 0 0 0 0;
}

.three:hover ~ hr {
    margin-left: 64%;
    border-radius: 0 10px 10px 0;
}

hr {
    border-radius: 10px 0 0 10px;
    height: .3rem;
    width: 32%;
    margin: 2vh 0;
    background: #000;
    border: none;
    transition: .3s ease-in-out;
}

header div {
    width: 70%;
    margin-top: 10%;
    margin-left: 7%;
    font-family: 'Lato';
    text-align: left;
    color: #fff;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5),
        2px 1px 1px rgba(0, 0, 0, 0.5);
}

header h1 {
    font-size: 6.5rem;
    font-weight: 700;
    padding: 2vh 0;
}

header h2 {
    font-family: 'Source Sans Pro';
    font-size: 3rem;
}

main {
    background-image: url(Image/bgImage.jpg);
    background-position: bottom;
    background-size: cover;
}

main section {
    padding: 12vh 0;
}

main .TLDR {
    background-color: #fff;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .Skills {
    padding: 10vh 15vw;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    grid-column-gap: 5vw;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 1fr;
}

main .Skills section {
    margin: 2vh 1vw;
    padding: 3vh 2vw;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

main .Skills h2 {
    text-align: center;
    font-size: 2.3rem;
    font-family: 'Lato';
    font-weight: 700;
    padding-bottom: 2vh;
}

main .Skills h2 {
    position: relative;
    margin-bottom: 4vh;
    font-size: 3.5rem;
    font-weight: 700;
    color: #fff;
    grid-column-start: 1;
    grid-column-end: 3;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5),
        2px 1px 1px rgba(0, 0, 0, 0.5);
}

main .Skills h2:before {
    content: "";
    position: absolute;
    left: 42.5%;
    bottom: 0;
    height: 2px;
    width: 15%;
    border-bottom: 1px solid #fff;
}

main .Skills h3 {
    color: #fff;
    font-size: 2.5rem;
    font-family: 'Lato';
    font-weight: 700;
    padding-bottom: 2vh;
}

main .Skills h4{
    color: #fff;
    padding-bottom: 1vh;
}

main .Skills ul{
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Source Sans Pro';
    list-style: circle;
}

main .Skills li{
    margin-left: 2vw;
}

main .Skills .skillset{
    margin-left: 2vw;
    padding-bottom: 1vh;
    font-size: 1.6rem;
    font-family: 'Source Sans Pro'
}

main .TLDR p {
    width: 50%;
}

main .Skills p {
    color: #fff;
}

footer {
    padding: 0 30vw;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

footer h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 1.2rem;
    padding-top: 6vh;
    padding-bottom: 4vh;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    border-left: 2px solid #000;
}

footer div:first-of-type {
    border-left: none;
}

footer div img {
    width: 5vw;
}

@media only screen and (max-width: 640px),
(orientation: portrait) {
    header nav {
        min-height: 50px;
    }

    header nav ul {
        display: none;
        flex-direction: column;
        width: 50%
    }

    header nav ul li {
        padding: 2vh 0;
        text-align: center;
        width: 100%;
        border-bottom: 2px solid #000
    }

    header nav ul li:last-of-type {
        border-bottom: none;
    }

    hr {
        border-radius: nopne;
        height: 0;
        width: 0;
        margin;
        background: none;
        border: none;

    }

    .container {
        padding: 1vh 2vw;
        position: absolute;
        right: 0;
        top: 0;
        display: inline-block;
        cursor: pointer;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.3s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    header h1 {
        font-size: 4rem;
        padding: 15vh 0 3vh 0;
    }

    header h2 {
        font-family: 'Source Sans Pro';
        font-size: 1.5rem;
    }

    main {
        background-position: center;
        ;
    }

    main .TLDR p {
        width: 85%;
    }

    main .Skills {
        display: flex;
        flex-direction: column;
        padding: 3vh 4vw;
    }

    main .Skills h2 {
        font-size: 4rem;
        margin-bottom: none;
        grid-column-start: 1;
        grid-column-end: 1;
        padding: 4vh 2vw;
    }

    main .Skills h2:before {
        border-bottom: none;
    }

    main .Skills h3 {
        font-size: 2.2rem;
    }

    main .Skills div {
        padding: 3vh 2vw 4vh 2vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main .Skills div:before {
        content: "";
        position: absolute;
        left: 15%;
        bottom: 0;
        height: 2px;
        width: 70%;
        border-bottom: 2px solid #fff;
    }

    main .Skills div:last-of-type:before {
        border-bottom: none;
    }

    main section p {
        font-size: 1.5rem;
    }

    footer {
        padding: 0 5vw;
    }

    footer h2 {
        font-size: 2rem;
    }

    footer div img {
        width: 12vw;
    }

}
